html, body, *{
  box-sizing:border-box;
  }
  .wrapper{
  width:500px;
  margin:10% auto 0 auto;
  background:#d5d5d5;
  position:relative;
  padding:20px;
  height:300px;
  }
  .oneAccordion > input{
  visibility:hidden;
  }
  .single_option >input{
  display:none;
  }
  .single_option >label:before{
  content:"";
  width:15px;
  height:15px;
  display:inline-block;
  border:2px solid #fff;
  margin-right:10px;
  top:4px;
  position:relative;
  line-height:15px;
  text-align:center;
  }
  .single_option >input:checked ~ label:before{
  
  background:#fff;;
  }
  .desc{
    -webkit-transition: all linear ;
  -moz-transition: all 200ms ;
  -o-transition: all 200ms ;
  transition: all 200ms ;
    max-height:0;
    display: block;
    position: relative;
    overflow: hidden;
 /* display:none;*/
  
  }
  
  input[type="radio"]:checked+.desc{
     -webkit-transition: all 200ms linear 200ms;
  -moz-transition: all 200ms linear 200ms;
  -o-transition: all 200ms linear 200ms;
  transition: all 200ms linear 200ms;
  /*display:block;*/
  max-height:500px;
 
  }
  .btn{
  cursor:pointer;
  display:inline-block;
  width:100%;
  display:block;
  background:#19c4b1;
  padding:5px 10px ;
  }